.section {
	margin: 30px 10%;
	background-color: #d6d6c2;
	border-radius: 25px;
	padding: 40px;
}

.section p {
    font-size: 19px;
    font-family: 'Aldrich', sans-serif;
    text-align: justify;
}
.section-heading {
	display: block;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2.5em;
}
@media only screen and (max-width: 600px) 
{
	.section {
		margin: 30px 5%;
	}
	.section p{
		font-size: 18px;
	}
	.section-heading {
    	font-size: 2em;
	}
}